/**
 * Objects styles
 *
 * Object Oriented CSS
 * Layout driven, structural objects.
 *
 * ---------------------
 * |--- Some File
 * ---------------------
 */
 
/* --- some file --- */
//@import 'some-file';

.o-loader {
    @include position-0(fixed);
    background-color: #2f3649;
    z-index: 40;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

    p {
        color: #fff;
        text-transform: uppercase;
        font-family: $font-secondary;
        font-size: 0.7rem;
        padding: 20px;
    }
}

.o-transition {
    @include position-0(fixed);
    // display: none;
    flex-flow: column wrap;
    z-index: 50;
    pointer-events: none;

    span {
        background-color: #2f3649;
        height: calc(100vh / 3);
        width: 100%;
        transform: translateX(-100%);
    }
}
