/**
 * Base styles
 *
 * Element styles, no classes nor IDs.
 * Base typography & raw elements
 *
 * ---------------------
 * |--- Some File
 * ---------------------
 */
 

.main-background {
    // background-image: radial-gradient( circle farthest-corner at 48.7% 44.3%,  rgb(26, 85, 129) 0%, rgb(31, 69, 136) 22.9%, rgb(25, 54, 104) 76.7%, rgb(15, 36, 70) 100.2% );
    background-image: url("/assets/img/bg.jpg");
    background-size: cover;
    @include position-0(fixed);
    z-index: -2;
    transition: all 250ms ease-in-out;
    filter: hue-rotate(0deg);
}

.master {
    content: "";
    background: rgb(19,19,19);
    background: linear-gradient(0deg, rgba(19,19,19,1) 6%, rgba(0,0,0,0) 15%);
    height: 100%;
    width: 100%;
    display: inline-block;
}

.scrollmagic-pin-spacer {
    pointer-events: none;
}
